<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/vue.css' />
</head>

<body>
  <div class="container js-instance">
    <form action="/employees/save" method="post">
      <div class="flex-styling">
        <h3>
          <i class="fas fa-comment-alt"></i>Harsh Kagathara
        </h3>
        <div class="card-styling">
          <div class="form-style">
            <div>
              <h2>Create Form</h2>
              <div class="row">
                <div class="col-sm-6">
                  <div class="text-styling"> Name </div>
                  <input placeholder="Name" class="input-styling" name="name" required>
                </div>
                <div class="col-sm-6">
                  <div class="text-styling"> Address </div>
                  <input placeholder="Address" class="input-styling" name="address">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="text-styling"> Position </div>
                  <input placeholder="Position" class="input-styling" name="position">
                </div>
                <div class="col-sm-6">
                  <div class="text-styling"> Salary </div>
                  <input placeholder="Salary" class="input-styling" name="salary">
                </div>
              </div>
            </div>
            <div>
              <button class="button-styling" type="submit"> Register </button>
            </div>
          </div>
        </div>
    </form>
  </div>
</body>

</html>
